node_modules
.DS_Store
package-lock.json
uploads
serverData.json
yarn.lock
lib/previewCache/*.png
logs/*.ndjson
data/uploads
data/labelTemplates
data/logs
/config.yaml
/config/config.yaml
src/plugins/emu/ROM/*
!src/plugins/emu/ROM/.gitkeep
src/plugins/emu/SAVES/*
!src/plugins/emu/SAVES/.gitkeep
.vscode
